button {
  position: relative;
  font-weight: 600;
  color: rgb(0, 0, 0);
  height: 40px;
  padding: 8px 20px;
  outline: none;
  border: 1px solid black;
  background-color: transparent;
  border-radius: 5px;
  margin-bottom: 9px;
  margin-top: 6px;
}

button:after {
  content: "";
  position: absolute;
  width: 100%;
  top: 5px;
  left: 5px;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  /* z-index: -1; */
  transition: all 0.35s;
  border-radius: inherit;
}

button:hover:after {
  top: 0px;
  left: 0px;
}
.card {
  width: 10rem;
  height: 13rem;
  border-radius: 0.5rem;
  background: #f5f5f5;
  position: relative;
  padding: 1.5rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  display: inline-block;
  margin: 2em;
}

.card-details {
  color: black;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}

.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #909090;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-body {
  color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
  font-size: 1.5em;
  font-weight: bold;
}

/*Hover*/
.card:hover {
  border-color: #909090;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.profile-button {
  float: right;
  margin-right: 10px;
}

.home-button {
  margin-right: 5px;
}

.page-header {
  background-color: rgba(154, 151, 151, 0.53);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.category-container {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
