h1,
h2,
h3 {
  font-size: xx-large;
  padding-left: 3%;
  font-weight: normal;
  color: black;
}

#title-name {
  font-size: 50px;
}

.home-rightside {
  float: right;
}

.newgame-button {
  margin: 0;
  margin-top: 50px;
  width: 200px;
  height: 75px;
  background-color: rgb(141, 139, 138);
  position: absolute;
  left: 25%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
