h1 {
  font-size: xx-large;
  padding-left: 3%;
  font-weight: normal;
  color: black;
}

.leaderboard {
  background-color: rgba(173, 147, 147, 0.368);
  text-align: center;
  margin: 3%;
  margin-top: 25px;
}

.scores-div {
  background-color: rgb(220, 208, 190);
  font-size: 15px;
}

table {
  border: none;
  margin-top: 25px;
  margin-left: 20%;
  float: center;
  width: 50%;
}

th {
  border-bottom: solid;
  border-width: 1px;
  text-align: center;
}

th:second-child {
  /*Attempt to align middle value with heading*/
  text-align: left;
}
