* {
  font-family: "Century", "Cambria", serif;
  font-size: large;
  margin: 0;
  padding: 0;
  color: #1e1e1e;
}

@media (-webkit-device-pixel-ratio: 1.25) {
  #web-browser {
    transform: scale(0.8);
  }
}

body {
  background-color: rgb(240, 229, 229);
}

div {
  margin: 0;
  background-color: #f9f9f9;
  border: 0px;
}

.license {
  position: absolute;
  bottom: 20px;
  width: 175px;
  background-color: transparent;
}

#grid {
  margin: 0;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 175px 1fr;
  min-height: 100vh;
}

#logo-container {
  display: flex;
  background-color: rgba(154, 151, 151, 0.53);
  align-items: center;
  text-align: center;
}

.logo {
  margin: auto;
}

h4 {
  width: 2em;
  margin-top: 0.4em;
  margin-left: 0.5em;
}

.page-header {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

span.small {
  font-size: 13px;
  color: #449eff;
}

.page-header > button {
  margin: 0;
  top: 40%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2%;
}

a {
  color: #3195ff;
  text-decoration: none;
  padding: 0 12px;
  font-size: x-large;
}

a:hover {
  text-decoration: underline;
}

hr {
  margin: 0;
  font-size: 2px;
}

span {
  font-size: x-large;
}

#guess-input-box {
  background-color: #ffffff;
}

#web-browser {
  width: min(96%, 1100px);
  margin: 8px auto 0;
}

#article-content {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-content: space-around;
}

.article-content {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-content: space-around;
}
img.article-content {
  width: min(30%, 240px);
  height: auto;
  padding-right: 10px;
}
@keyframes fade-in {
  from {
    opacity: 0;
    bottom: -20px;
  }
  to {
    opacity: 1;
    bottom: 0px;
  }
}

.main-paragraph {
  margin: min(10px, 1.25vh) 4px 0;
  position: relative;
  animation-name: fade-in;
  animation-duration: 1s;
  font-size: 0.9rem;
}

.line-of-text {
  background-color: transparent;
  font-size: inherit;
  height: 1.75em;
}

.content-text-word {
  display: inline-flex;
  background-color: #404040;
  height: 1em;
  margin: auto 4px 0.25em;
  border-radius: 0.5em;
  font-size: inherit;
}

.clue-link {
  margin: 4px auto;
  text-align: center;
}

/* For future when new article content "fades" in */
.fade-layer {
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 100%;
  height: 500px;
  top: 100%;
  transform: translate(0%, -100%);
}

.centre-text {
  text-align: center;
}

#answer-form {
  margin-top: min(30px, 3.75vh);
  text-align: center;
  position: relative;
  bottom: 15px;
  left: 20px;
}

#guess-input-box {
  text-align: center;
  height: 20px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  border-color: #999999;
}

#text-box-button {
  margin-left: 10px;
  border: 2px;
  border-color: #999999;
}

#round-text {
  text-align: center;
}

.nextround-button {
  margin: 0;
  margin-top: 50px;
  width: 200px;
  height: 75px;
  background-color: rgb(141, 139, 138);
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.newgame-button {
  margin: 0;
  margin-top: 50px;
  width: 200px;
  height: 75px;
  background-color: rgb(141, 139, 138);
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#button-styling {
  margin-bottom: 100px;
}

#article-tab {
  position: absolute;
  background: linear-gradient(rgba(249, 249, 249, 0%) 0%, #f9f9f9 100%);
  width: 60px;
  height: 30px;
  bottom: -2px;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  background-color: rgba(154, 151, 151, 0.53);
  position: relative;
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  margin: 0;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  text-align: center;
}
